<section class="about-me" id="about-me">
  <div class="container about-decor">
    <h2 class="section-title about-title">
      About <span class="span-me">Me</span>
    </h2>

    <div class="top-section">
      <picture class="card-img">
        <source
          media="(min-width: 1280px)"
          srcset="/images/boy.webp 1x, /images/boy-x2.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="/images/boy-tab.webp 1x, /images/boy-tab-x2.webp 2x"
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="/images/boy-mob.webp 1x, /images/boy-mob-x2.webp 2x"
          type="image/webp"
        />
        <img
          class="card-img"
          src="/images/boy.jpg"
          alt="Lloyd Jefferson profile photo"
          loading="lazy"
        />
      </picture>
      <div class="about-bio">
        <h3 class="section-subtitle about-me-subtitle">BIO</h3>
        <p class="about-bio-text">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="about-bio-text-second">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
      </div>
    </div>

    <div class="about-bottom">
      <div class="about-education">
        <h3 class="section-subtitle about-me-subtitle">EDUCATION</h3>
        <ul class="about-education-list">
          <li class="about-education-item">
            <span class="education-item-green-point"></span>
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="about-education-item">
            <span class="education-item-green-point"></span>
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="about-education-item">
            <span class="education-item-green-point"></span>
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>

      <div class="">
        <h3 class="section-subtitle about-me-subtitle">ROLE</h3>
        <ul class="about-role-list">
          <li class="about-role-item">
            <span class="role-item-green-point"></span>Frontend development
          </li>
          <li class="about-role-item">
            <span class="role-item-green-point"></span>HeadlessCMS, Wordpress
          </li>
          <li class="about-role-item">
            <span class="role-item-green-point"></span>Blender (enjoy)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
