<footer id="footer">
    <div>
        <a href="/index.html" aria-label="Go to Home page">LLOYD<span>JEFFERSON.</span></a>
        <ul>
            <li><a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer"
                    aria-label="Follow me on Instagram">Instagram</a>
            </li>
            <li><a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer"
                    aria-label="Follow me on Facebook">Facebook</a></li>
            <li><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"
                    rel="noopener noreferrer" aria-label="Follow me on Linkedin">Linkedin</a></li>
            <li><a href="https://github.com/Igor-Tymchuk/infinity-team" target="_blank" rel="noopener noreferrer"
                    aria-label="Follow me on GitHub">GitHub</a></li>
        </ul>
        <p>&copy; Copyright 2024. Made by LloydJefferson</p>
    </div>
</footer>