<footer class="footer-container" id="footer">
  <div class="container">
    <div class="logo-social-desk-wrapper">
      <a class="footer-logo" href="/index.html" aria-label="Go to Home page"
        >LLOYD<span class="footer-logo-span">JEFFERSON.</span></a
      >
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Follow me on Instagram"
            >Instagram</a
          >
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Follow me on Facebook"
            >Facebook</a
          >
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Follow me on Linkedin"
            >Linkedin</a
          >
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://github.com/Igor-Tymchuk/infinity-team"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Follow me on GitHub"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-copyright-text">
      &copy; Copyright 2024. Made by LloydJefferson
    </p>
  </div>
</footer>
