<section class="section-hero">
   <div class="container background-decor">
      <div class="hero-title-box">
         <h1 class="main-title">hello, i am
            <span>fullstack developer</span>
         </h1>
         <picture class="hero-img-box">
            <source media="(min-width: 1280px)" srcset="/images/hero-img-desk.webp 1x, /images/hero-img-desk-x2.webp 2x" type="image/webp">
            <img src="/images/hero.jpg" loading="lazy" width="592" height="444" alt="Fullstack developer">
         </picture>
      </div>
      <div class="hero-content">
         <div class="button-box">
            <span class="rect"></span>
            <a href="#work-together" class="button" aria-label="Order the project">
               <svg class="arrow-button" width="30" hight="16">
                  <use href="/images/icons.svg#icon-arrow-r"></use>
               </svg>
               order the project
            </a>
         </div>
         <p class="caption-text">I work with people all over the world to create<span class="decor"> impressive
            </span>and <span class="decor">functional websites </span>that reflect each client's unique personality.</p>
      </div>
   </div><!--end container -->
   <div class="container wraper-contact-list">
      <ul class="contact-list">
         <li class="contact-list-item">
            <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener no-referrer"
               aria-label="go to Instagram">Instagram</a>
         </li>
         <li class="contact-list-item"><a href="https://www.facebook.com/goITclub/" target="_blank"
               rel="noopener no-referrer" aria-label="go to facebook">Facebook</a></li>
         <li class="contact-list-item">
            <a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank"
               rel="noopener no-referrer" aria-label="go to linkedin">
               Linkedin</a>
         </li>
         <li class="contact-list-item">
            <a href="https://github.com/Igor-Tymchuk/infinity-team" target="_blank" rel="noopener no-referrer"
               aria-label="go to github">GitHub</a>
         </li>
      </ul>
   </div>
</section>