<section class="section-hero">
    <div class="background-decor">
     <div class="container">
        <h1><span>hello, i am</span>
            fullstack developer
        </h1>
        <div class="hero-content">
            <div class="button-box"> 
              <span class="rect"> </span>
                <button type="button" class="button">
                <span class="arrow-button" >&#8594;</span>
                order the project    
              </button>   
            </div> 
           
            <p class="hero-description">I work with people all over the world to create<span class="decor"> impressive </span>and <span class="decor">functional websites </span>that reflect each client’s unique personality.</p>
        </div>
        
     </div><!--end container -->
    </div><!--end background decor -->
     <div class="wraper-contact-list">
        <div class="container">
          <ul class="contact-list">
             <li class="contact-list-item">Instagram</li>
             <li class="contact-list-item">Facebook</li>
             <li class="contact-list-item">Linkedin</li>
             <li class="contact-list-item">GitHub</li>
           </ul>
        </div>
     </div>
</section>