<section id="my-projects">
  <div class="container my-projects-container">
    <h2 class="section-title my-projects-title">
      My <span class="projects-title">projects</span>
    </h2>
    <ul id="projects-list">
      <li>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="/images/finances.webp 1x, /images/finances-x2.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/finances-tab.webp    1x,
              /images/finances-tab-x2.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/finances-mob.webp    1x,
              /images/finances-mob-x2.webp 2x
            "
            type="image/webp"
          />
          <img
            class="projects-img-list"
            src="/images/finances.png"
            alt="Wallet webservice"
            loading="lazy"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">Wallet webservice</h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Igor-Tymchuk/infinity-team"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use href="/images/icons.svg#icon-arrow-r-u"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="/images/organic.webp 1x, /images/organic-x2.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="/images/organic-tab.webp 1x, /images/organic-tab-x2.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="/images/organic-mob.webp 1x, /images/organic-mob-x2.webp 2x"
            type="image/webp"
          />
          <img
            class="projects-img-list"
            src="/images/organic.png"
            alt="Green harvest webservice"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">
            Green harvest webservice
          </h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Igor-Tymchuk/infinity-team"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use href="/images/icons.svg#icon-arrow-r-u"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="/images/eng.webp 1x, /images/eng-x2.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="/images/eng-tab.webp 1x, /images/eng-tab-x2.webp 2x"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="/images/eng-mob.webp 1x, /images/eng-mob-x2.webp 2x"
            type="image/webp"
          />
          <img
            class="projects-img-list"
            src="/images/eng.png"
            alt="English Exellence website"
          />
        </picture>
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <div class="projects-wallet-container">
          <h3 class="section-subtitle projects-name">
            English Exellence website
          </h3>
          <div class="projects-btn-container">
            <a
              class="btn projects-visiting-btn"
              href="https://github.com/Igor-Tymchuk/infinity-team"
              target="_blank"
            >
              VISIT
              <svg
                class="projects-arrow-svg"
                width="24px"
                height="24px"
                aria-label="projects-site"
              >
                <use href="/images/icons.svg#icon-arrow-r-u"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <div class="projects-button-container">
      <button type="button" class="projects-load-button" id="projects-more-btn">
        Load More
      </button>
    </div>
  </div>
</section>
