<section>
  <div class="container">
    <h2 class="section-title">
      My <span class="projects-title">projects</span>
    </h2>
    <ul>
      <li>
        <img
          class="projects-img-list"
          src="/images/finances-mob.webp"
          alt="projects"
        />
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <h3 class="section-subtitle">Wallet webservice</h3>
        <div class="projects-btn-container">
          <a
            href="https://github.com/Igor-Tymchuk/infinity-team"
            target="_blank"
          >
            <button class="projects-visiting-btn">
              VISIT
              <svg class="projects-arrow-svg" width="24px" height="24px">
                <use href="/images/icons.svg#icon-arrow-r-u"></use>
              </svg>
            </button>
          </a>
        </div>
      </li>
      <li>
        <img
          class="projects-img-list"
          src="/images/organic-mob.webp"
          alt="projects"
        />
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <h3 class="section-subtitle">Green harvest webservice</h3>
        <div class="projects-btn-container">
          <a
            href="https://github.com/Igor-Tymchuk/infinity-team"
            target="_blank"
          >
            <button class="projects-visiting-btn">
              VISIT
              <svg class="projects-arrow-svg" width="24px" height="24px">
                <use href="/images/icons.svg#icon-arrow-r-u"></use>
              </svg>
            </button>
          </a>
        </div>
      </li>
      <li>
        <img
          class="projects-img-list"
          src="/images/eng-mob.webp"
          alt="projects"
        />
        <p class="projects-subtitle">React, JavaScript, Node JS, Git</p>
        <h3 class="section-subtitle">English Exellence website</h3>
        <div class="projects-btn-container">
          <a
            href="https://github.com/Igor-Tymchuk/infinity-team"
            target="_blank"
          >
            <button class="projects-visiting-btn">
              VISIT
              <svg class="projects-arrow-svg" width="24px" height="24px">
                <use href="/images/icons.svg#icon-arrow-r-u"></use>
              </svg>
            </button>
          </a>
        </div>
      </li>
    </ul>
    <div class="projects-button-container">
      <button class="projects-load-button">Load More</button>
    </div>
  </div>
</section>
