<section class="reviews section" id="reviews">
  <div class="container reviews">
    <h2 class="section-title reviews-title">reviews</h2>
    <ul class="reviews-list"></ul>
    <div class="reviews-buttons">
      <button class="reviews-btn left" type="button" aria-label="left" disabled>
        <svg class="reviews-icon" width="24" height="24">
          <use href="/images/icons.svg#icon-arrow-n-l"></use>
        </svg>
      </button>
      <button class="reviews-btn right" type="button" aria-label="right">
        <svg class="reviews-icon" width="24" height="24">
          <use href="/images/icons.svg#icon-arrow-n-r"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
