<section id="tech-skills">
    <div class="container tech-container">
        <h2 class="visually-hidden">Tech Skills</h2>
        <div class="tech-skills-first-box">
            <ul class="tech-skills-list">
                <li class="tech-skill section-subtitle">HTML/CSS</li>
                <li class="tech-skill section-subtitle">JavaScript</li>
                <li class="tech-skill section-subtitle">React</li>
                <li class="tech-skill section-subtitle">Node. js</li>
                <li class="tech-skill section-subtitle">React Native</li>
                <li class="tech-skill section-subtitle">Typescript</li>
            </ul>
            <ul aria-hidden="true" class="tech-skills-list">
                <li class="tech-skill section-subtitle">HTML/CSS</li>
                <li class="tech-skill section-subtitle">JavaScript</li>
                <li class="tech-skill section-subtitle">React</li>
                <li class="tech-skill section-subtitle">Node. js</li>
                <li class="tech-skill section-subtitle">React Native</li>
                <li class="tech-skill section-subtitle">Typescript</li>
            </ul>
        </div>
        <div class="tech-skills-second-box">
            <ul class="tech-skills-list">
                <li class="tech-skill section-subtitle">HTML/CSS</li>
                <li class="tech-skill section-subtitle">JavaScript</li>
                <li class="tech-skill section-subtitle">React</li>
                <li class="tech-skill section-subtitle">Node. js</li>
                <li class="tech-skill section-subtitle">React Native</li>
                <li class="tech-skill section-subtitle">Typescript</li>
            </ul>
            <ul aria-hidden="true" class="tech-skills-list">
                <li class="tech-skill section-subtitle">HTML/CSS</li>
                <li class="tech-skill section-subtitle">JavaScript</li>
                <li class="tech-skill section-subtitle">React</li>
                <li class="tech-skill section-subtitle">Node. js</li>
                <li class="tech-skill section-subtitle">React Native</li>
                <li class="tech-skill section-subtitle">Typescript</li>
            </ul>
        </div>
    </div>
</section>