<section id="tech-skills">
    <div class="container">
<h2 class="visually-hidden">Tech Skills</h2>
<div class="tech-skills-first-box">
    <ul class="tech-skills-list">
        <li class="tech-skill">HTML/CSS</li>
        <li class="tech-skill">JavaScript</li>
        <li class="tech-skill">React</li>
        <li class="tech-skill">Node. js</li>
        <li class="tech-skill">React Native</li>
        <li class="tech-skill">Typescript</li>
    </ul>
</div>
<div class="tech-skills-second-box">
<ul class="tech-skills-list">
    <li class="tech-skill">HTML/CSS</li>
    <li class="tech-skill">JavaScript</li>
    <li class="tech-skill">React</li>
    <li class="tech-skill">Node. js</li>
    <li class="tech-skill">React Native</li>
    <li class="tech-skill">Typescript</li>
</ul>
</div>
    </div>
</section>