<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./public/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <section class="work" id="work-together">
      <div class="container work-container">
        <h2 class="section-title work-title">
          let’s <span class="work-span">work together</span>
        </h2>
        <div>
          <div>
            <p>
              CONTACT ME TO TRANSFORM YOUR IDEAS INTO EXCEPTIONAL SOLUTIONS.
            </p>
            <ul>
              <li>
                <svg class="icon-phone work-icon" width="24" height="24">
                  <use href="../images/icons.svg#icon-phone"></use>
                </svg>
                <a href="tel:+380904567890">+38 090 456 78 90</a>
              </li>
              <li>
                <svg class="icon-message work-icon" width="24" height="24">
                  <use href="../images/icons.svg#icon-message"></use>
                </svg>
                <a href="mailto:lloydjefferson@gmail.com"
                  >lloydjefferson@gmail.com</a
                >
              </li>
              <li>
                <svg class="icon-geo work-icon" width="24" height="24">
                  <use href="../images/icons.svg#icon-geo"></use>
                </svg>
                <a href="">USA, New York</a>
              </li>
            </ul>
          </div>

          <form class="work-form">
            <div>
              <label class="work-label visually-hidden" for="email"></label>
              <input
                id="email"
                type="email"
                placeholder="Your email*"
                pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                title="Email"
                required
              />
            </div>
            <div>
              <label class="work-label visually-hidden" for=""></label>
              <textarea
                name="user-comment"
                id="user-comment"
                class="modal-text"
                placeholder="Message"
              ></textarea>
            </div>
            <button class="btn work-btn" type="submit">SEND MESSAGE</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
