<section class="work" id="work-together">
  <div class="container work-container">
    <h2 class="section-title work-title">
      let’s <span class="work-span">work <br />together</span>
    </h2>
    <div class="work-auxiliary">
      <div class="work-contact">
        <p class="work-contact-title">
          Contact me to transform <br />your ideas into exceptional solutions.
        </p>
        <ul class="work-contact-list">
          <li class="work-contact-list-elem">
            <svg class="work-icon" width="24" height="24">
              <use
                class="work-icon-svg"
                href="/images/icons.svg#icon-phone"
              ></use>
            </svg>
            <a
              class="work-contact-link"
              aria-label="Phone number"
              href="tel:+380904567890"
              >+38 090 456 78 90</a
            >
          </li>
          <li class="work-contact-list-elem">
            <svg class="work-icon" width="24" height="24">
              <use
                class="work-icon-svg"
                href="/images/icons.svg#icon-message"
              ></use>
            </svg>
            <a
              class="work-contact-link"
              aria-label="Email"
              href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="work-contact-list-elem">
            <svg class="work-icon" width="24" height="24">
              <use href="/images/icons.svg#icon-geo"></use>
            </svg>
            <a class="work-contact-link" aria-label="Open the map" href=""
              >USA, New York</a
            >
          </li>
        </ul>
      </div>

      <form class="work-form">
        <div class="work-form-elem">
          <label class="work-label visually-hidden" for="email"></label>
          <div class="work-input-wrapper">
            <input
              class="work-input"
              id="email"
              type="email"
              placeholder="Your email*"
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
              title="Email"
              required
            />
            <svg class="work-icon-email hidden" width="16" height="16">
              <use href="../images/icons.svg#icon-success"></use>
            </svg>
          </div>
          <span class="work-error-message">Invalid email, try again</span>
        </div>
        <div class="work-form-elem">
          <label class="work-label visually-hidden" for="user-comment"></label>
          <textarea
            name="user-comment"
            id="user-comment"
            class="work-modal-text"
            placeholder="Message"
          ></textarea>
        </div>
        <button class="btn work-btn" type="submit">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</section>

<div class="backdrop visually-hidden">
  <div class="work-modal">
    <button type="button" class="work-modal-btn">
      <svg class="work-modal-use" width="24" height="24">
        <use href="../images/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="work-text-conteiner">
      <p class="caption-text work-modal-title">
        Thank you for your interest in cooperation!
      </p>
      <p class="work-modal-text-b">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>

  <!-- <div class="work-modal-red">
    <button type="button" class="work-modal-btn">
      <svg class="work-modal-use" width="24" height="24">
        <use href="../images/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="work-text-conteiner">
      <p class="caption-text work-modal-title-red">Error!</p>
      <p class="work-modal-text-b">Your request is not successful</p>
    </div>
  </div> -->
</div>
