.about-me {
  padding-bottom: 80px;
  padding-top: 80px;
}

.about-title {
  margin-bottom: 40px;
}

.card-img {
  margin-bottom: 40px;
}

.about-bio {
  margin-bottom: 40px;
}

.about-me-subtitle {
  margin-bottom: 32px;
}

.about-bio-text {
  max-width: 309px;
  margin-bottom: 24px;
}

.about-bio-text-second {
  max-width: 320px;
}

.about-education {
  margin-bottom: 40px;
}

.about-education-item {
  margin-bottom: 12px;
  margin-left: 32px;
  position: relative;
  max-width: 288px;
}

.education-item-green-point {
  position: absolute;
  top: 10px;
  left: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background-color: var(--c-lt-elem-accent);
}

.about-education-item:last-child {
  margin-bottom: 0;
}

.about-role-item {
  margin-bottom: 12px;
  margin-left: 20px;
  position: relative;
}

.role-item-green-point {
  position: absolute;
  top: 10px;
  left: -14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background-color: var(--c-lt-elem-accent);
}

.about-role-item:last-child {
  margin-bottom: 0;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .about-me {
    padding-bottom: 124px;
    padding-top: 124px;
  }

  .top-section {
    display: flex;
    gap: 32px;
    margin-bottom: 60px;
  }

  .card-img {
    width: 336px;
    height: 392px;
    align-self: flex-end;
    margin-bottom: 0;
  }

  .about-bio {
    margin-bottom: 80px;
  }

  .about-bio-text {
    max-width: 336px;
  }

  .about-bio-text-second {
    max-width: 330px;
  }

  .about-bottom {
    display: flex;
    gap: 32px;
  }

  .about-education {
    margin-bottom: 0;
  }

  .about-education-item {
    max-width: 304px;
  }

  .about-decor {
    background-image: image-set(
      url('/images/decor-about-me-x1-tab.png') 1x,
      url('/images/decor-about-me-x2-tab.png') 2x
    );
    background-repeat: no-repeat;
    background-position: top 850px right 30px, left 100px bottom 156px;
  }
}

/* desktop */
@media only screen and (min-width: 1280px) {
  .about-me {
    padding-top: 183px;
    padding-bottom: 145px;
  }

  .top-section {
    gap: 136px;
    justify-content: flex-end;
    margin-bottom: 80px;
  }

  .card-img {
    width: 384px;
    height: 448px;
  }

  .about-bio {
    margin-bottom: 232px;
  }

  .about-bio-text {
    max-width: 488px;
  }

  .about-bio-text-second {
    max-width: 481px;
  }

  .about-bottom {
    gap: 136px;
    margin-left: 215px;
  }

  .about-education-item {
    max-width: 352px;
  }

  .about-decor {
    background-image: image-set(
      url('/images/decor-about-me-x1-desk.png') 1x,
      url('/images/decor-about-me-x2-desk.png') 2x
    );
    background-position: top 675px right 30px, left 100px bottom 156px;
  }
}
