.benefits-title span {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px var(--c-lt-elem-accent);
  background-image: linear-gradient(
    60deg,
    var(--c-lt-elem-accent) 0,
    var(--c-lt-elem-accent) 75%,
    var(--c-lt-elem-bg-accent) 80%,
    var(--c-lt-elem-bg-accent) 84%,
    var(--c-lt-elem-accent) 90%,
    var(--c-lt-elem-accent) 100%
  );
  background-size: 250% 100%;
  animation: titleGlare linear infinite;
  animation-duration: 20s;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.benefits-icon-box {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--c-lt-elem-bg-accent);
  background: linear-gradient(
    67deg,
    var(--c-lt-elem-bg-accent) 15%,
    var(--c-lt-elem-bg) 23%,
    var(--c-lt-elem-bg-accent) 38%,
    var(--c-lt-elem-bg-accent) 61%,
    var(--c-lt-elem-bg) 70%,
    var(--c-lt-elem-bg-accent) 100%
  );
  background-size: 300% 300%;
  animation: gradientShift 6500ms ease infinite;
  border-radius: 8px;
}

.benefits-icon-box .benefits-icon {
  stroke: var(--c-lt-elem-accent);
  fill: transparent;
}

@media screen and (max-width: 767px) {
  .benefits-section {
    padding: 80px 0;
  }

  .benefits-title {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .benefits-section {
    padding: 124px 0;
  }

  .benefits-title span {
    animation-duration: 18s;
  }

  .benefits-list.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 32px;
  }

  .grid-item1 {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .grid-item2 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .grid-item3 {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .grid-item4 {
    grid-column: 1 / 2;
    grid-row: 3;
  }
}

@media only screen and (min-width: 1280px) {
  .benefits-section {
    padding-bottom: 164px;
  }

  .benefits-section .container {
    position: relative;
    padding-top: 116px;

    background-image: url('/images/benefits-stars-bg-desk.png');
    background-image: image-set(
      url('/images/benefits-stars-bg-desk-1x.webp') 1x,
      url('/images/benefits-stars-bg-desk-2x.webp') 2x
    );
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 526px 408px;
  }

  .benefits-title {
    max-width: 682px;
    position: absolute;
    top: 116px;
    left: 32px;
  }

  .benefits-list {
    margin-top: 276px;
  }

  .benefits-list.grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item1 {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .grid-item2 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .grid-item3 {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .grid-item4 {
    grid-column: 3 / 4;
    grid-row: 2;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  80% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes titleGlare {
  0% {
    background-position: 250% 50%;
  }
  100% {
    background-position: -250% 50%;
  }
}
