/* TODO make responsive bg images */
/* TODO add icons */
/* TODO make tablet and mobile */

.benefits-title {
  height: fit-content;
}

.benefits-title span {
  color: var(--c-lt-elem-accent);
  color: transparent;
  -webkit-text-stroke: 1px var(--c-lt-elem-accent);
  background-image: url(/images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.benefits-item {
  /* TODO remove fixed sizes */

  /* height: 184px;
  width: 384px; */
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.benefits-icon-box {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: var(--c-lt-elem-bg-accent); */
  background: linear-gradient(
    127deg,
    var(--c-lt-elem-bg-accent),
    var(--c-lt-elem-bg),
    var(--c-lt-elem-bg-accent),
    var(--c-lt-elem-bg),
    var(--c-lt-elem-bg-accent)
  );
  background-size: 160% 160%;
  animation: gradientShift 5500ms ease infinite;
  border-radius: 8px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.benefits-icon-box .benefits-icon {
  stroke: var(--c-lt-elem-accent);
  fill: transparent;
}

@media only screen and (min-width: 1280px) {
  .benefits-section {
    padding-bottom: 164px;
  }

  .benefits-section .container {
    padding-top: 116px;
    /* display: flex;
    flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: space-between;
    background-image: url(/images/benefits-stars-bg-desk.png);
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
  }

  .benefits-title {
    max-width: 682px;
    position: absolute;
    top: 116px;
    left: 32px;
  }

  .benefits-list.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 32px;
  }

  .grid-item1 {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .grid-item2 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .grid-item3 {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .grid-item4 {
    grid-column: 3 / 4;
    grid-row: 2;
  }

  .benefits-list {
    margin-top: 276px;
  }
}
