.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;

  /* TODO remove at the end of project */
  outline: 2px solid #b31212;
}

/* mobile */
@media only screen and (min-width: 360px) {
  .container {
    max-width: 360px;
    padding: 0 20px;
  }
}

/* tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
