.faq-section {
    padding-bottom: 80px;
}

.faq-title {
    margin-bottom: 40px;
}

.accordion-container .ac {
    padding: 20px 24px;
    background-color: transparent;
    border-bottom: 1px solid var(--c-lt-elem-bg);
    border-radius: 10px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
}

.ac.active {
    background-color: #0fd77d;
    border-radius: 10px;
}

.icon-flipped {
    transform: scaleY(-1);
    transition: transform 0.3s;
}


.ac-panel .faq-text {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 20px;
    display: none;
}

.ac.is-active {
    display: block;
    background-color: var(--c-lt-elem-bg-accent)
}

.question-close {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.ac-header {
    font-family: var(--ff-global-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--c-lt-text-main);
}

.ac-text {
    font-family: var(--ff-global-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.question-close .ac-trigger {
    border-radius: 8px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    stroke: #292929;
    fill: none;
    outline: none;
    transition: transform 0.3s ease;
}

.ac.active .ac-trigger {
    transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
    .ac-header {
        font-size: 20px;
    }

    .question-close {
        gap: 24px;
    }

}

@media (min-width: 1228px) {
    .faq-section {
        padding-bottom: 164px;
    }

    .faq-title {
        margin-bottom: 0;
    }

    .wrap {
        display: flex;
        flex-wrap: nowrap;
        background-image: url('/images/faq-bg1x.png');
        background-size: 526px;
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    .accordion-container {
        margin-left: 104px;
        margin-top: 276px;
    }
}