body {
  font-family: var(--ff-global-font);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: var(--c-lt-body-bg);
  color: var(--c-lt-text-main);
}

body.dark-theme {
  background-color: var(--c-dt-body-bg);
  color: var(--c-dt-text-main);
}

/** TEXT STYLES */

/* h1 */
.main-title {
  font-family: var(--ff-big-title-font);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/* h2 */
.section-title {
  font-family: var(--ff-big-title-font);
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* h3 */
.section-subtitle {
  font-family: var(--ff-global-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

/* accent bigger text */
.caption-text {
  font-family: var(--ff-global-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .main-title {
    font-size: 136px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  }

  .section-title {
    font-size: 108px;
    line-height: 1.23;
    letter-spacing: 0.03em;
  }

  .section-subtitle {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }

  .caption-text {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.02em;
  }
}

/** ELEM STYLES */

/* main btn styles in 'MY PROJECTS' and 'WORK TOGETHER' sections */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 8px;
  padding: 12px 24px;

  font-family: var(--ff-global-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* pattern styles for hidden elements */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* lock scroll for modal and burger */
.scroll-lock {
  overflow: hidden;
}
