.header {
    padding: 20px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 200;
}

.header-logo-link {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--c-lt-text-main);
}

.link-hover {
    transition: color var(--trn-main-transition-params);
}

.link-hover:hover,
.link-hover:focus {
    color: var(--c-lt-elem-accent);
}

.header-logo-span {
    color: var(--c-lt-elem-accent);
}

.header-list {
    display: none;
}

.open-menu-btn {
    border: none;
    background-color: transparent;
    z-index: 10;
}

.mob-menu-container {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    transition: transform var(--trn-main-transition-params);
    transform: translateX(-100%);
    background-color: var(--c-lt-body-bg);
}

.mob-menu-container.active {
    display: block;
    transform: translateX(0);
    opacity: 1;
}

.mob-menu-list {
    margin: 0 auto;
    height: 100vh;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    background-color: var(--c-lt-body-bg);
    background-size: auto;
    background-image: url('../images/mobile-burger-stars-bg-up.png'),
        url('../images/mobile-burger-stars-bg-down.png');
    background-position: top 90px left 10px, bottom 120px left 120px;
    background-repeat: no-repeat, no-repeat;
}

.mob-menu-item {
    margin-bottom: 20px;
}

.header-none {
    display: none;
}

.header-right-box {
    display: flex;
}

/* Чекбокс перемикання теми */

.theme-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 48px;
    height: 24px;
    cursor: pointer;
    background-color: #e4e5e6;
    border-radius: 16px;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::before {
        background-color: var(--c-dt-body-bg);
        opacity: 0;
    }

    &::after {
        background-color: var(--c-dt-elem-accent);
    }

    &:checked {
        background-color: var(--c-dt-elem-bg);

        &::before {
            transform: translateX(calc(80%));
            background-color: var(--c-dt-elem-bg);
            opacity: 1;
            z-index: 10;
        }

        &::after {
            transform: translateX(calc(100% + 2px));
        }
    }
}

/*для планшета*/
@media screen and (min-width: 768px) {
    .header {
        padding: 32px 0;
    }

    .theme-checkbox {
        margin-right: 40px;
    }

    .header-logo-link {
        font-size: 32px;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-navigation {
        gap: 40px;
    }

    .open-menu-btn {
        display: none;
    }

    .mob-menu-container {
        display: none;
    }
}

/* для ПК */
@media screen and (min-width: 1280px) {
    .header-logo-link {}
}

/*burger*/
#burger {
    width: 32px;
    height: 32px;
    position: relative;
    margin: 0 auto;
    transform: rotate(0deg);
    transition: var(--trn-main-transition-params);
    cursor: pointer;
}

#burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 21px;
    background: #292929;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: var(--trn-main-transition-params);
}

#burger span:nth-child(1) {
    top: 9px;
    left: 5.5px;
}

#burger span:nth-child(2),
#burger span:nth-child(3) {
    top: 16px;
    left: 5.5px;
}

#burger span:nth-child(4) {
    top: 23px;
    left: 5.5px;
}

#burger.open span:nth-child(1) {
    top: 16px;
    left: 5.5px;
    width: 0%;
    left: 50%;
}

#burger.open span:nth-child(2) {
    transform: rotate(45deg);
}

#burger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#burger.open span:nth-child(4) {
    top: 16px;
    left: 5.5px;
    width: 0%;
    left: 50%;
}