.my-projects-title {
    margin-bottom: 40px;
    text-align: center;
}

.projects-title {
    color: var(--c-lt-elem-accent);
}

.projects-name {
    margin-bottom: 16px;
}

.projects-img-list {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    border-radius: 16px;
}

.projects-subtitle {
    font-family: var(--ff-global-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--c-lt-text-main);
    margin-bottom: 16px;
}

.projects-item {
    margin-bottom: 40px;
}

.projects-arrow-svg {
    margin-left: 12px;
    stroke: var(--c-lt-elem-accent);
}

.projects-btn-container {
    display: flex;
    justify-content: flex-end;
}

.projects-visiting-btn {
    background-color: var(--c-lt-elem-bg);
    border: transparent;
}

.projects-visiting-btn:hover {
    border: var(--c-lt-elem-accent);
    background-color: var(--c-lt-elem-bg-effect);
    transition: var(--trn-main-transition-params);
}

.projects-visiting-btn:focus {
    border: var(--c-lt-elem-accent);
    background-color: var(--c-lt-elem-bg-effect);
    transition: var(--trn-main-transition-params);
}

.projects-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-load-button {
    padding: 12px 24px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;
    font-family: var(--ff-global-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--c-lt-text-main);
}

.projects-load-button:hover {
    color: var(--c-lt-elem-accent);
    transition: var(--trn-main-transition-params);
}

.projects-load-button::after {
    content: "";
    position: absolute;
    left: 13%;
    right: 13%;
    bottom: 10px;
    height: 2px;
    display: inline-block;
    background-color: #00b068;
}


/* ************ Tablet Adaptive ************ */

@media only screen and (min-width: 768px) {
    .my-projects-title {
        margin-bottom: 60px;
    }

    .projects-name {
        margin-bottom: 0;
    }

    .projects-item {
        margin-bottom: 60px;
    }
    
    .projects-subtitle {
        margin-bottom: 20px;
    }

    .projects-img-list {
        margin-bottom: 16px;
        border-radius: 24px;
    }

    .projects-wallet-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .projects-visiting-btn {
        margin-bottom: 0;
    }

    .projects-btn-container {
        display: block;
        margin-left: auto;
    }
}

/* ************************ */


/* ********* Dekstop adaptive ********** */


@media only screen and (min-width: 1280px) {
    .my-projects-container {
        padding-bottom: 48px;
    }

    .my-projects-title {
        margin-bottom: 80px;
    }

    .projects-item {
        margin-bottom: 80px;
    }

    .projects-name {
        font-family: var(--ff-global-font);
        font-size: 36px;
        line-height: 1.3;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: var(--c-lt-text-main);
    }

    .projects-img-list {
        margin-bottom: 16px;
        border-radius: 24px;
    }

    .projects-subtitle {
        margin-bottom: 20px;
    }

    .projects-visiting-btn {
        margin-bottom: 0;
    }
}

/* ********************* */

.projects-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    opacity: 0;
}

.item-appear {
    animation: fadeIn 500ms ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}