.tech-skills-first-box {
    overflow: hidden;
    font-weight: 600;
    font-size: 34px;
    text-transform: uppercase;
    background-color: var(--c-lt-elem-bg-accent);
    position: relative;
    display: flex;
    z-index: 1;
}

.tech-skills-second-box {
    overflow: hidden;
    font-weight: 600;
    font-size: 34px;
    text-transform: uppercase;
    background-color: var(--c-lt-elem-bg);
    position: relative;
    display: flex;
    transform: rotate(2deg);
}

.tech-skills-second-box .tech-skill {
    color: var(--c-lt-elem-accent);
}

.tech-skills-second-box .tech-skill::before {
    background-color: var(--c-lt-text-main);
}

.tech-skills-list {
    display: flex;
    flex-shrink: 0;
    margin: 0;
    min-width: 100%;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}
.tech-skills-second-box .tech-skills-list {
    animation: reverseScroll 20s linear infinite;
}

.tech-skill {
    position: relative;
    padding: 40px 28px;
}

.tech-skill::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--c-lt-elem-accent);
    left: -4px;
    top: 50%;
    border-radius: 3px;
    transform: translateY(-50%);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}

@keyframes reverseScroll {
    from {
        transform: translateX(calc(-100% - 20px));
    }
    to {
        transform: translateX(0);
    }
}